<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="MyFile" fileName="logs/app.log">
			<PatternLayout>
				<Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="org.hibernate.validator.internal.util.Version"
			level="warn" />
		<Logger name="org.apache.coyote.http11.Http11NioProtocol"
			level="warn" />
		<Logger name="org.apache.tomcat.util.net.NioSelectorPool"
			level="warn" />
		<Logger name="org.apache.catalina.startup.DigesterFactory"
			level="error" />

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>